h1 {
    color: red;
}

.user-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}
a {
    text-decoration: none !important;
}
#select-all-checkbox {
    width: 180px;
    margin: 0 16px;
}