<div class="mt-4 container">
    <h3>Đăng khóa học</h3>
    <form method="POST" action="/courses/store">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" 
                name="name"
            >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <input type="text" class="form-control" id="exampleInputEmail1" 
                name="description"
            >
        </div>
        
        
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">videoID</label>
            <input type="text" class="form-control" id="exampleInputEmail1" 
                name="videoID"
            >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">trình độ</label>
            <input type="text" class="form-control" id="exampleInputEmail1" 
                name="level"
            >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Image</label>
            <input type="text" class="form-control" id="exampleInputEmail1" 
                name="image"
            >
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>