<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">F8_education</a>
    

    <a href="/courses/create">Create</a>
  </div>
</nav>